@import "../styles/variables.scss";

.footer {
    width: 100%;
    background-color: var(--DarkGreen);
    padding: 66px 24px;

    @media screen and (min-width: $tablet) {
        padding: 56px 40px;
    }
    @media screen and (min-width: $desktop) {
        padding: 48px 0;
        display: flex;
        justify-content: center;
    }
}

.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media screen and (min-width: $tablet) {
        flex-direction: row;
        align-items: initial;
        justify-content: space-between;
        padding-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
        width: 77%;
        padding-bottom: 0;
    }
}
.logo {
    width: 96px;
    height: 24px;
    display: flex;
    @media screen and (min-width: $desktop) {
        width: 160px;
        height: 40px;
    }
    img {
        width: 100%;
    }
}
.link_wrap {
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    width: 105px;

    @media screen and (min-width: $tablet) {
        margin: initial;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    @media screen and (min-width: $desktop) {
        width: 140px;
        margin-bottom: 0;
    }
    a {
        font-family: "livvic";
        font-weight: 600;
        font-size: 0.75rem;

        color: var(--White);
        text-decoration: none;

        transition: all 0.3s ease-in-out;

        @media screen and (min-width: $desktop) {
            font-size: 0.9rem; /*18*/
        }
        &:hover {
            color: var(--LightCoral);
            cursor: pointer;
        }
    }
}
.info {
    font-size: 0.75rem;
    color: var(--White);
    opacity: 0.6;
    text-align: center;
    @media screen and (min-width: $tablet) {
        text-align: end;
    }
    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 270px;
        text-align: start;
    }
}
.social {
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 16px;

    @media screen and (min-width: $tablet) {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
    }
    @media screen and (min-width: $desktop) {
        right: 0;
        top: 0;
        left: initial;
        bottom: initial;
    }
    svg {
        &:hover {
            cursor: pointer;
            path {
                fill: var(--LightCoral);
            }
        }
    }
}
.copyright {
    font-size: 0.75rem;
    color: var(--White);
    opacity: 0.6;
    text-align: center;
    @media screen and (min-width: $tablet) {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: initial;
    }
}
